#body{
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -92px;
    height: 120vh;
    background-image: url("./straw-hat-pirates-from-one-piece-wallpaper-960x600_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;}
    #sp{
        
        font-size: 30px;
        background-color: black;
        width: fit-content;
        color: rgb(13, 13, 15);
        margin-left: 700px;
    }